In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import accuracy_score

In [2]:
data=pd.read_csv(r"C:\ML pratice\Spam_Mail_Prediction\mail_data.csv")

In [3]:
data.dtypes

Category    object
Message     object
dtype: object

In [4]:
data.shape

(5572, 2)

In [5]:
data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [6]:
data.isnull().sum()

Category    0
Message     0
dtype: int64

In [7]:
#Converting the null values into the null strings .

mail_data=data.where((pd.notnull(data)),'')

In [8]:
mail_data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [9]:
mail_data.replace({'Category':{'ham':1, 'spam':0}},inplace=True)

In [10]:
mail_data.head()

   Category                                            Message
0         1  Go until jurong point, crazy.. Available only ...
1         1                      Ok lar... Joking wif u oni...
2         0  Free entry in 2 a wkly comp to win FA Cup fina...
3         1  U dun say so early hor... U c already then say...
4         1  Nah I don't think he goes to usf, he lives aro...

In [11]:
x=mail_data['Message']
y=mail_data['Category']

In [12]:
print(x)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                 Will ü b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Message, Length: 5572, dtype: object

In [13]:
print(y)

0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: Category, Length: 5572, dtype: int64

In [14]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,stratify=y,random_state=2)

In [15]:
print(x.shape,x_train.shape,x_test.shape)

(5572,) (4457,) (1115,)

In [17]:
# Converting the text data into the numerical data .
# feature Extraction

vectorizer=TfidfVectorizer(min_df=1,stop_words='english',lowercase='True')

x_train_features=vectorizer.fit_transform(x_train)

x_test_features=vectorizer.transform(x_test)

# Convert the y_train and y_test into the integers

y_train=y_train.astype('int')
y_test=y_test.astype('int')

In [18]:
print(x_train_features)

  (0, 7289)	0.517250079608171
  (0, 2823)	0.517250079608171
  (0, 3764)	0.22046319970004674
  (0, 2262)	0.4931693086193514
  (0, 7438)	0.2996693624522655
  (0, 4768)	0.28858793133473676
  (1, 4136)	0.4717788963273522
  (1, 6517)	0.49481520325330863
  (1, 1558)	0.4236400720998954
  (1, 4972)	0.49481520325330863
  (1, 3317)	0.32904344933475643
  (2, 5798)	0.2821824162510531
  (2, 3835)	0.2623708342584191
  (2, 4943)	0.33789703751914013
  (2, 5837)	0.1845655907506494
  (2, 1430)	0.28509060215711635
  (2, 6641)	0.20096909705626312
  (2, 3722)	0.24768901862403342
  (2, 3935)	0.3671145612703168
  (2, 3118)	0.18009671431232455
  (2, 4269)	0.2543939099135892
  (2, 3398)	0.20665621299033204
  (2, 2136)	0.180851695270251
  (2, 3086)	0.27449720225122765
  (2, 4099)	0.186263215205624
  :	:
  (4454, 5765)	0.27366476899994313
  (4454, 4205)	0.27366476899994313
  (4454, 6404)	0.2834859847167938
  (4454, 387)	0.2598225428978842
  (4454, 865)	0.26604684225670366
  (4454, 2972)	0.2598225428978842
  (4454, 6656)	0.22854117433573515
  (4454, 5362)	0.20976307084423884
  (4454, 2788)	0.1933908630347447
  (4454, 4477)	0.226337885362124
  (4454, 7449)	0.2545599727746228
  (4454, 6793)	0.2084746488748568
  (4454, 7413)	0.2242682135068801
  (4454, 1150)	0.2598225428978842
  (4454, 5753)	0.226337885362124
  (4454, 7163)	0.15016127837290247
  (4454, 3514)	0.17954863693268575
  (4454, 841)	0.21705430485365426
  (4455, 3045)	0.6369939076061825
  (4455, 6132)	0.6072176947981238
  (4455, 6694)	0.4748951808522163
  (4456, 6279)	0.5478925290776959
  (4456, 935)	0.5478925290776959
  (4456, 6115)	0.4406487953685031
  (4456, 3484)	0.45327275707015463

In [19]:
model=LogisticRegression()

In [20]:
model.fit(x_train_features,y_train)

LogisticRegression()

In [21]:
training_data_prediction=model.predict(x_train_features)
training_data_accuracy=accuracy_score(y_train,training_data_prediction)
print("Accuracy Score for training data is : ",training_data_accuracy * 100,'%')

Accuracy Score for training data is :  96.72425398249945 %

In [22]:
test_data_prediction=model.predict(x_test_features)
test_data_accuracy=accuracy_score(y_test,test_data_prediction)
print("Accuracy Score for test data is : ",test_data_accuracy * 100,'%')

Accuracy Score for test data is :  97.04035874439462 %